/* App.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar {
  width: 100%;
}

.container {
  
  padding-top: 20px;
  display: flex;
  height: calc(100vh - 20px); /* Adjust this if you have a specific navbar height */
}

.sidebar {
  
  width: 250px;
  background-color: #f4f4f4;
}

.code-editor {
  flex: 1; /* Takes up remaining space */
  background-color: #fff;
  
  overflow: auto;
}

